@import url("https://fonts.googleapis.com/css2?family=Rokkitt&display=swap");

$clr-body-bg: #f6f7fb;
$clr-header: #dcd7fac4;
$clr-white: #fff;
$clr-brand: #716b94;
$clr-brand-secondary: #716b94bd;
$clr-brand-disabled: #716b9436;
$clr-brand-form-disabled: #716b949b;
$clr-brand-hover: #716b94d9;
$clr-error: #f25137;

$clr-font: #212b36;
$clr-font-btn: #f8f8f8;

$transition: 300ms ease-in-out;

$shadow-header: 0px 6px 13px #091e3f1a;
$shadow-input: 0px 2px 4px #00000031;
$shadow-input-focus: 0px 2px 4px $clr-brand-hover;
$shadow-input-error: 0px 1px 5px 0 $clr-error;

$font-main: "Rokkitt", serif;
